#appbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 1rem;
}
#appbar div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}